# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/mydb?schema=public"

RESEND_API_KEY="YOUR_RESEND_API_KEY"

JWT_SECRET="YOUR_JWT_SECRET"

GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"

GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"

GOOGLE_REDIRECT_URI="http://localhost:3000/login/google-callback"
# GOOGLE_REDIRECT_URI_PRODUCTION ="https://YOUR_DOMAIN/login/google-callback"

NEXT_PUBLIC_R2_PUBLIC_URL="YOUR_R2_PUBLIC_URL"
R2_ACCESS_ID="YOUR_R2_ACCESS_ID"
R2_SECRET_KEY="YOUR_R2_SECRET_KEY"
R2_S3API_URL="YOUR_R2_S3API_URL"

# Mayar
# MAYAR DOCUMENTATION = "https://documenter.getpostman.com/view/25084670/2s8Z6x1sr8"
MAYAR_HEADLESS_API_URL_PRODUCTION="https://api.mayar.id/hl/v1"
MAYAR_HEADLESS_API_URL_SANDBOX="https://api.mayar.club/hl/v1"

MAYAR_API_KEY_PRODUCTION="YOUR_MAYAR_API_KEY_PRODUCTION"

MAYAR_API_KEY_SANDBOX="YOUR_MAYAR_API_KEY_SANDBOX"